create database PROJECTPRJ_2022
create table Categories(
	idCategories int primary key,
	nameCategories nvarchar(50),
	)
create table Product(
	idProduct int IDENTITY(1,1) primary key ,
	title nvarchar (max),
	name	nvarchar(max) ,
	detail nvarchar(max),
	price double ,
	[image] nvarchar(max),
	idCategories int references Categories(idCategories),
	)
create table Customer(
	userName char(255) primary key,
	[passWord] varchar(100),		
	[Phone] char(10) unique check([phone] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'),
	)
	
create table Orders(
	idOrders int IDENTITY(1,1) primary key,
	idProduct int references Product(idProduct),
	userName char(500) ,
	Quantily int,
	[Date Create] date,
)

create table OrdersDetail(
	idOrdersDetails int IDENTITY(1,1) primary key,
	idOrders int,
	Total int,
	CONSTRAINT fk3_service FOREIGN KEY (idOrders) REFERENCES Orders (idOrders),
	
)

insert into Categories values (1,'KAWASAKI')
insert into Categories values (2 ,'HONDA')
insert into Categories values (3 ,'SUZUKI')


insert into Product VALUES ('HONDA','HONDA CBR250' ,N'Loại động cơ : 2 xylanh thẳng hàng, phun xăng điện tử 4 thì,
8 van, DOHC, làm mát bằng dung dịch	Công suất tối đa : 38,1 mã lực tại 12.500 v/ph,Cỡ lốp trước/sau : 110/70-17 140/70-17	
Dài x Rộng x Cao : 2.060 x 724 x 1.098 mm
Hộp số : 6 Cấp	Độ cao yên : 790 mm
Dung tích xy-lanh : 249.5 cc	Mô men cực đại : .2 Nm tại 11.000 v/ph
Phuộc trước : Upsite-Down 41mm	Khoảng cách trục bánh xe : 1.398 mm', 6600, 'cbr-250.jpg',2 )




insert into Customer values('son', '123', '0231223199')
insert into Customer values('xya', '1234', '0375867892')
insert into Customer values('admin', '12345', '0231223188')




 
 
select * from Categories
select * from Product
select * from Customer


select top 1 * from Product
 order by idProduct desc
  
 select * from Customer where userName = 'son' and [passWord] = '123'
 
 select * from Product 
where idCategories = 1

 delete from Product 
where idProduct = ?

select * from Product
where name like ?



select COUNT(*) from Product

select * from Product
order by idProduct
OFFSET 0 rows fetch next 8 rows only;

select * from Product p inner join Categories c 
on p.idCategories = c.idCategories