create database PROJECTPRJ_2022
use PROJECTPRJ_2022
create table Categories(
	idCategories int primary key,
	nameCategories nvarchar(50),
	)
create table Product(
	idProduct int IDENTITY(1,1) primary key,
	title nvarchar(max),
	[name]	nvarchar(max),
	detail nvarchar(max),
	price float,
	[image] nvarchar(max),
	idCategories int references Categories(idCategories),
	)
create table Customer(
	userName char(255) primary key,
	[passWord] varchar(100),
	nameCustomer nvarchar(50),
	[Address] nvarchar(50),
	[Phone] char(10) unique check([phone] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'),
	)
create table Orders(
	orderID int IDENTITY(1,1) primary key,
	userName char(255) ,
	total float,
	isPay int,
	createDate date,
	constraint fk_Orders foreign key (userName) references Customer(userName)
)

create table OrdersDetail(
	orderID int,
	productID int,
	quantity int,		
	constraint pk_OrdersDetail primary key (orderID,productID),
	constraint fk_orderID foreign key (orderID) references Orders(orderID),
	constraint fk_ProductID2 foreign key (productID) references Product(idProduct)
)


insert into Categories values (1,'KAWASAKI')
insert into Categories values (2 ,'HONDA')
insert into Categories values (3 ,'SUZUKI')


insert into Product VALUES ('HONDA','HONDA CBR250' ,N'Loại động cơ : 2 xylanh thẳng hàng, phun xăng điện tử 4 thì,
8 van, DOHC, làm mát bằng dung dịch	Công suất tối đa : 38,1 mã lực tại 12.500 v/ph,Cỡ lốp trước/sau : 110/70-17 140/70-17	
Dài x Rộng x Cao : 2.060 x 724 x 1.098 mm
Hộp số : 6 Cấp	Độ cao yên : 790 mm
Dung tích xy-lanh : 249.5 cc	Mô men cực đại : .2 Nm tại 11.000 v/ph
Phuộc trước : Upsite-Down 41mm	Khoảng cách trục bánh xe : 1.398 mm', 6600, 'cbr-250.jpg',2 )




insert into Customer values('son', '123', 'Son Pham', '57123 Viet Nam', '0231223199')
insert into Customer values('xya', '1234', 'Tran Khai','57123 Laos', '0375867892')
insert into Customer values('admin', '12345', 'HE150838','57123 Capuchia', '0231223188')




 
 
select * from Categories
select * from Product
select * from Customer


select top 1 * from Product
 order by idProduct desc
  
 select * from Customer where userName = 'son' and [passWord] = '123'
 
 select * from Product 
where idCategories = 1

 delete from Product 
where idProduct = ?

select * from Product
where name like '%kawa%'



update Product 
set title = 'asd',
name = 'asdasd' ,
detail = 'asdasd' ,
price = 1750 ,
[image] = 'asdasd',
idCategories = 1 
where idProduct = 21

select * from Product